<h1>Campaigns</h1>

<table class="table table-striped table-bordered">
  <% @campaigns.each do |cam| %>
    <tr>
      <td>
        <%= link_to cam.name, cam %>
      </td>
    </tr>
  <% end %>
</table>
